.calendarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.weekHeader {
  display: contents;
}

.dayHeader {
  font-weight: bold;
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

.week {
  display: contents;
}

.day {
  border: 1px solid #ccc;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.dayNumber {
  font-weight: bold;
  margin-bottom: 5px;
}

.addEventButton {
  margin-top: 10px;
  cursor: pointer;
  padding: 3px;
  border: none;

  border-radius: 5px;
  width: 100%;
}
