.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;

  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  margin: 0;
}
